<h1>New Signup</h1>

<%= form_for @signup do |form| %>
  <%= validation_errors_for form.object  %>

  <%= form.text_field :name %>
  <%= form.text_field :email %>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit %>
<% end %>
